In [1]:
import json
import pandas as pd

In [2]:
with open('mapdata.json') as f:
    data = json.load(f)

data_path = "../Data/covid_unemployement_combo.csv"

data_path_df = pd.read_csv(data_path, encoding="utf-8")

In [3]:
data_path_df = data_path_df.drop('Unnamed: 0', 1)

In [4]:
data_path_df.head()

        state unempt_rate  year  month  total_cases  total_deaths    date
0     Alabama         3.6  2019      1          0.0           0.0  2019-1
1      Alaska         6.1  2019      1          0.0           0.0  2019-1
2     Arizona         4.9  2019      1          0.0           0.0  2019-1
3    Arkansas         3.6  2019      1          0.0           0.0  2019-1
4  California         4.3  2019      1          0.0           0.0  2019-1

In [5]:
case_list = data_path_df.groupby('state')['total_cases'].apply(list)

In [6]:
death_list = data_path_df.groupby('state')['total_deaths'].apply(list)

In [7]:
unempt_list = data_path_df.groupby('state')['unempt_rate'].apply(list)

In [8]:
date_list = data_path_df.groupby('state')['date'].apply(list)

In [9]:
case_list.head()

state
Alabama       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Alaska        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Arizona       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Arkansas      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
California    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: total_cases, dtype: object

In [10]:
len(case_list['Alaska'])

18

In [11]:
len(unempt_list['California'])

18

In [12]:
len(death_list['Alaska'])

18

In [13]:
len(date_list['Vermont'])

18

In [14]:
for state in case_list.index:    
    for feature in data["features"]:
        feature_state = feature["properties"]["name"]
        
        if state == feature_state:
            feature["properties"]["total_cases"] = case_list[state]

In [15]:
for state in death_list.index:    
    for feature in data["features"]:
        feature_state = feature["properties"]["name"]
        
        if state == feature_state:
            feature["properties"]["total_deaths"] = death_list[state]

In [16]:
for state in unempt_list.index:    
    for feature in data["features"]:
        feature_state = feature["properties"]["name"]
        
        if state == feature_state:
            feature["properties"]["unempt_rate"] = unempt_list[state]

In [17]:
for state in date_list.index:    
    for feature in data["features"]:
        feature_state = feature["properties"]["name"]
        
        if state == feature_state:
            feature["properties"]["date"] = date_list[state]

In [19]:
with open('mapdata2.json','w') as f:
    json.dump(data, f)

In [ ]:
# with open('mapdata.json') as f:
#     data = json.load(f)

# data_path = "../Data/covid_data.csv"

# data_path_df = pd.read_csv(data_path, encoding="utf-8")