In [1]:
import json
import pandas as pd

In [2]:
with open('mapdata.json') as f:
    data = json.load(f)

data_path = "../Data/covid_data.csv"

data_path_df = pd.read_csv(data_path, encoding="utf-8")

In [3]:
data_path_df.head()

     state  year  month  total_cases  total_deaths
0  Alabama  2020      1            0             0
1  Alabama  2020      2            0             0
2  Alabama  2020      3         6129            42
3  Alabama  2020      4       125166          4044
4  Alabama  2020      5       372033         14438

In [4]:
case_list = data_path_df.groupby('state')['total_cases'].apply(list)

In [5]:
case_list.head()

state
Alabama       [0, 0, 6129, 125166, 372033, 800287, 1918336, ...
Alaska            [0, 0, 851, 8231, 12256, 23003, 67633, 33051]
Arizona       [6, 29, 6830, 128668, 417110, 1297231, 4105142...
Arkansas      [0, 0, 3965, 53571, 150100, 402154, 972426, 36...
California    [14, 285, 55406, 865585, 2476264, 4905111, 114...
Name: total_cases, dtype: object

In [6]:
case_list['Alabama']

[0, 0, 6129, 125166, 372033, 800287, 1918336, 756876]

In [7]:
for state in case_list.index:
    for feature in data["features"]:
        feature_state = feature["properties"]["name"]
        
        if state == feature_state:
            feature["properties"]["total_cases"] = case_list[state]

In [8]:
with open('mapdata2.json','w') as f:
    json.dump(data, f)

In [9]:
with open('mapdata.json') as f:
    data = json.load(f)

data_path = "../Data/covid_data.csv"

data_path_df = pd.read_csv(data_path, encoding="utf-8")